.projects-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.project-item {
  background-color: #23272F;
  border: 1px solid #444;
  border-radius: 8px;
  width: 300px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.project-item img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 15px;
}

.project-item h3 {
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.project-item .buttons {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.project-item .buttons a {
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: bold;
  color: #fff;
  flex: 1; /* Faz os botões terem o mesmo tamanho */
  text-align: center;
}

.project-item .buttons .code-btn {
  background-color: #043970;
}

.project-item .buttons .live-btn {
  background-color: #0f3b19;
}

.project-item .buttons a:hover {
  opacity: 0.8;
}
